# Configuration file

09cd2ddb-df84-4eab-b372-9d3a31fc59e8 {
    I:pyroteknick=1
    I:saereth=1
}


0c395024-c5b2-439e-87e1-61f3b51bc241 {
    I:"§aa_red_penguin"=1
    I:"§fwickedg33k§r"=1
}


26ebcbc6-5c0b-4704-ae60-cf034b0a724b {
    I:thundra=1
}


274e5527-06e0-4b94-a993-10fee44df75e {
    I:"§a§asaereth§r"=1
    I:"§fgirlonfire§r"=1
    I:"§fshobu§r"=1
    I:"§funbr34k4bl3§r"=1
}


4ecf6284-b1e8-45bb-b2b3-151c95c3b10f {
    I:abadah0=1
    I:darklordice=1
    I:dizchord23=1
    I:gennielightdust=1
    I:girlonfire=1
    I:kelec_pc=1
    I:prerequisite=1
    I:pyroteknick=1
    I:sentrus=1
    I:sexkitteh=1
    I:teamdman_9201=1
    I:"§fdarklordice§r"=1
    I:"§fdizchord23§r"=1
    I:"§fpyroteknick§r"=1
    I:"§fsentrus§r"=1
    I:"§fxx_faerie_xx§r"=1
}


51209d13-ef22-4798-8fe1-170b32b0d1cf {
    I:darklordice=1
    I:prerequisite=1
    I:saereth=1
}


b30cf0db-f26a-4a09-bd65-3ddc50630e06 {
    I:"§aa_red_penguin"=1
    I:"§a§amilkyway3640"=1
}


d621a3d0-dcb1-4cfb-b6a6-017849637dd4 {
    I:saereth=1
}


fff4c579-d92b-4afd-a96b-1447e4440b83 {
    I:dizchord23=1
    I:kelec_pc=1
    I:maxisbadatgames=1
    I:pyroteknick=1
    I:saereth=1
    I:"§fdarklordice§r"=1
}


