#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <name>:<meta>
#<name> is the unlocalised name or registry key of the block/item enclosed in quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. "dirt" "minecraft:planks":3 "iron_ore":1,2,3,5 "ThermalFoundation:Storage":0-15

# Vanilla
"minecraft:pumpkin"
"minecraft:noteblock"
"minecraft:lit_pumpkin"
"minecraft:log2":1
"minecraft:hay_block"
"minecraft:obsidian"
"minecraft:gravel"
"minecraft:tnt"
"minecraft:furnace"
"minecraft:melon_block"
"minecraft:crafting_table"
"minecraft:quartz_block":1-2


#Ztones
"Ztones:stoneTile"
"Ztones:cleanDirt"
"Ztones:auroraBlock"
"Ztones:tile.agonBlock":0-15
"Ztones:tile.bittBlock":0-15
"Ztones:tile.crayBlock":0-15
"Ztones:tile.fortBlock":0-15
"Ztones:tile.iszmBlock":0-15
"Ztones:tile.jeltBlock":0-15
"Ztones:tile.korpBlock":0-15
"Ztones:tile.krypBlock":0-15
"Ztones:tile.lairBlock":0-15
"Ztones:tile.laveBlock":0-15
"Ztones:tile.mintBlock":0-15
"Ztones:tile.mystBlock":0-15
"Ztones:tile.redsBlock":0-15
"Ztones:tile.roenBlock":0-15
"Ztones:tile.solsBlock":0-15
"Ztones:tile.tankBlock":0-15
"Ztones:tile.vectBlock":0-15
"Ztones:tile.venaBlock":0-15
"Ztones:tile.zechBlock":0-15
"Ztones:tile.zionBlock":0-15
"Ztones:tile.zomeBlock":0-15
"Ztones:tile.zoneBlock":0-15
"Ztones:tile.zorgBlock":0-15
"Ztones:tile.reedBlock":0-15
"Ztones:tile.syncBlock":0-15
"Ztones:tile.zkulBlock":0-15
"Ztones:tile.ztylBlock":0-15
"Ztones:tile.glaxx":0-15
"Ztones:tile.azurBlock":0-15
"Ztones:tile.zetaBlock":0-15
"Ztones:tile.zaneBlock":0-15
"Ztones:tile.zestBlock":0-15
"Ztones:tile.zythBlock":0-15
"Ztones:tile.zoeaBlock":0-15

#OpenBlocks
"OpenBlocks:canvas"
"OpenBlocks:canvasglass"
"OpenBlocks:sponge"

#Blood magic
"AWWayofTime:AlchemicalWizardrybloodRune":0-5
"AWWayofTime:speedRune"
"AWWayofTime:efficiencyRune"
"AWWayofTime:runeOfSacrifice"
"AWWayofTime:runeOfSelfSacrifice"
"AWWayofTime:ritualStone"
"AWWayofTime:masterStone"
"AWWayofTime:bloodSocket"
"AWWayofTime:imperfectRitualStone"
"AWWayofTime:armourForge"
"AWWayofTime:bloodStoneBrick"
"AWWayofTime:largeBloodStoneBrick"
"AWWayofTime:blockCrystal":0-1
"AWWayofTime:blockStabilityGlyph"
"AWWayofTime:blockEnchantmentGlyph":0-1

#Automagy
"Automagy:blockBookshelfEnchanted":0-1
"Automagy:blockTranslucent":0-1
"Automagy:blockMetalGlow"
"Automagy:blockRunedObsidian"
"Automagy:blockNetherRune":0-6
"Automagy:blockNethermind"
"Automagy:blockAmnesiac"
"Automagy:blockMobLure"
"Automagy:blockXPStone"

#Thaumcraft
"Thaumcraft:blockTaint":0-2
"Thaumcraft:blockMagicalLog":0,1
"Thaumcraft:blockCosmeticOpaque":0,1
"Thaumcraft:blockCosmeticSolid":0-9,11,12,14,15
"Thaumcraft:blockMetalDevice":9,3

#Thaumic Exploration
"ThaumicExploration:meltyIce"

#Thaumic Tinkerer
"ThaumicTinkerer:darkQuartz":0-2

#Technomancy
"technom:basalt"

#Big Reactors
"BigReactors:BRReactorPart"
"BigReactors:BRMetalBlock":0-4

#Botania
"Botania:livingrock":0-4
"Botania:livingwood":0-5
"Botania:openCrate":0-1
"Botania:storage":0-4
"Botania:prismarine":0-2
"Botania:seaLamp"
"Botania:reedBlock"
"Botania:thatch"
"Botania:customBrick":0-15
"Botania:elfGlass"
"Botania:manaGlass"
"Botania:petalBlock":0-15
"Botania:biomeStoneA":0-15
"Botania:biomeStoneB":0-15
"Botania:stone":0-15
"Botania:quartzTypeDark":0-2
"Botania:quartzTypeMana":0-2
"Botania:quartzTypeBlaze":0-2
"Botania:quartzTypeLavender":0-2
"Botania:quartzTypeRed":0-2
"Botania:quartzTypeElf":0-2
"Botania:quartzTypeSunny":0-2
"Botania:alchemyCatalyst"
"Botania:dreamwood":0-5
"Botania:blazeBlock":0
"Botania:endStoneBrick":0-3
"Botania:conjurationCatalyst"
"Botania:endStoneBrick":0-3
"Botania:altGrass":0-5
"Botania:stone":0-15
"Botania:pavement":0-5

#Ender IO
"EnderIO:blockIngotStorage":0-7
"EnderIO:blockFusedQuartz":0-3

#Forbidden Magic
"ForbiddenMagic:StarBlock"
"ForbiddenMagic:TaintLog"
"ForbiddenMagic:TaintPlank"
"ForbiddenMagic:TaintLeaves"
"ForbiddenMagic:TaintBlock":0-1

#Forestry
"Forestry:soil":0-1
"Forestry:resourceStorage":0-3
"Forestry:stained":0-15
"Forestry:log1":0-3
"Forestry:log2":0-3
"Forestry:log3":0-3
"Forestry:log4":0-3
"Forestry:log5":0-3
"Forestry:log6":0-3
"Forestry:log7":0-3
"Forestry:log8"
"Forestry:fireproofLog1":0-3
"Forestry:fireproofLog2":0-3
"Forestry:fireproofLog3":0-3
"Forestry:fireproofLog4":0-3
"Forestry:fireproofLog5":0-3
"Forestry:fireproofLog6":0-3
"Forestry:fireproofLog7":0-3
"Forestry:fireproofLog8"
"Forestry:planks":0-15
"Forestry:planks2":0-12
"Forestry:fireproofPlanks1":0-15
"Forestry:fireproofPlanks2":0-12

#Galacticraft
"GalacticraftCore:tile.gcBlockCore":3,4,9-12
"GalacticraftCore:tile.moonBlock":4-6,14
"GalacticraftMars:tile.asteroidsBlock":0-2
"GalacticraftMars:tile.denseIce"
"GalacticraftMars:tile.mars":4-9

#Mekanism
"Mekanism:SaltBlock"

#Natura
"tile.HeatSand"
"tile.TaintedSoil"
"Natura:Natura.bookshelf":0-12
"Natura:GrassBlock":0-2
"Natura:soil.tainted":0-2
"Natura:Dark Tree":0-1
"Natura:Obelisk"
"Natura:Cloud":0-3

#Railcraft
"Railcraft:cube":0-7,9-11

#Tinkers construct
"TConstruct:MeatBlock"
"TConstruct:slime.gel":0-2
"TConstruct:slime.grass"
"TConstruct:GlueBlock"
"TConstruct:Smeltery":2-11
"TConstruct:SmelteryNether":2-11
"TConstruct:SpeedBlock":0-6
"TConstruct:GlassBlock"
"TConstruct:StainedClear":0-15

#Thermal Expansion
"ThermalExpansion:Rockwool":0-15

#Thermal Foundation
"ThermalFoundation:Storage":0-12
"ThermalFoundation:Sponge":0-2
"ThermalFoundation:Rockwool":0-15

#The Twilight Forest
"TwilightForest:tile.TFLog":0-3
"TwilightForest:tile.TFMazestone":0-7
"TwilightForest:tile.TFMagicLog":0-3
"TwilightForest:tile.TFTowerStone":0-4
"TwilightForest:tile.TFUnderBrick":0-2
"TwilightForest:tile.TFRoots":0-1
"TwilightForest:tile.TFLeaves":0-3
"TwilightForest:tile.AuroraPillar"
"TwilightForest:tile.UberousSoil"
"TwilightForest:tile.HugeStalk"
"TwilightForest:tile.HugeGloomBlock"
"TwilightForest:tile.TFDeadrock":0-2

#AOBD (Another One Bites The Dust)
"aobd:blockIridium"
"aobd:blockUranium"
"aobd:blockCadmium"
"aobd:blockIndium"
"aobd:blockTitanium"
"aobd:blockThorium"
"aobd:blockZinc"
"aobd:blockTungsten"

#Witchery
"witchery:witchlog":0-2
"witchery:witchleaves":0-2
"witchery:witchwood":0-2
"witchery:perpetualice"

#Nuclear Control 2
"IC2NuclearControl:blockNuclearControlLight":0-3

#Immersive Engineering
"ImmersiveEngineering:storage":0-10
"ImmersiveEngineering:metalDevice":1,3,7,9,10,12,13
"ImmersiveEngineering:metalDecoration":1,4,5,6,7
"ImmersiveEngineering:woodenDecoration":0,5
"ImmersiveEngineering:stoneDevice":4
"ImmersiveEngineering:stoneDecoration":0-5
"ImmersiveEngineering:treatedWood":0-2

#Immersive Integration
"immersiveintegration:aeDecoration":0-1

#Tinkers steelworks
"TSeelworks:HighOven":2-10
"TSeelworks:dustStorage"0-1
"TSeelworks:Limestone":0-8

#Witching gadgets
"WitchingGadgets:tile.WG_StoneDevice.name":0-7
"WitchingGadgets:tile.WG_MetalDevice.name":7

#Applied Energistics 2 (AE2)
"appliedenergistics2:tile.BlockQuartz"
"appliedenergistics2:tile.BlockQuartzPillar"
"appliedenergistics2:tile.BlockQuartzChiseled"
"appliedenergistics2:tile.BlockQuartzGlass"
"appliedenergistics2:tile.BlockQuartzLamp"
"appliedenergistics2:tile.BlockFluix"
"appliedenergistics2:tile.BlockSkyStone":0-3
"appliedenergistics2:tile.BlockEnergyAcceptor"
"appliedenergistics2:tile.BlockEnergyCell"
"appliedenergistics2:tile.BlockDenseEnergyCell"
"appliedenergistics2:tile.BlockCraftingUnit":0-1
"appliedenergistics2:tile.BlockCraftingStorage":0-3

#Aura Cascade
"aura:fortifiedDirt"
"aura:fortifiedWood"
"aura:fortifiedGlass"
"aura:fortifiedCobblestone"
"aura:fortifiedStone"
"aura:fortifiedObsidian"

#BoP
"BiomesOPlenty:mud":0,1
"BiomesOPlenty:driedDirt"
"BiomesOPlenty:rocks":0-5,4
"BiomesOPlenty:ash"
"BiomesOPlenty:flesh"
"BiomesOPlenty:ashStone"
"BiomesOPlenty:hardIce"
"BiomesOPlenty:appleLeaves"
"BiomesOPlenty:persimmonLeaves"
"BiomesOPlenty:mudBricks"
"BiomesOPlenty:originGrass"
"BiomesOPlenty:longGrass"
"BiomesOPlenty:overgrownNetherrack"
"BiomesOPlenty:bopGrass":0,1
"BiomesOPlenty:newBopGrass":0,1,2
"BiomesOPlenty:newBopDirt":0-5
"BiomesOPlenty:logs1":0-3
"BiomesOPlenty:logs2":0-3
"BiomesOPlenty:logs3":0-3
"BiomesOPlenty:logs4":0-3
"BiomesOPlenty:leaves1":0-3
"BiomesOPlenty:leaves2":0-3
"BiomesOPlenty:leaves3":0-3
"BiomesOPlenty:leaves4":0-1
"BiomesOPlenty:petals":0-1
"BiomesOPlenty:hardSand"
"BiomesOPlenty:hardDirt"
"BiomesOPlenty:biomeBlock"
"BiomesOPlenty:crystal"
"BiomesOPlenty:gemOre":0,0-15
"BiomesOPlenty:cragRock"
"BiomesOPlenty:hive":0-3
"BiomesOPlenty:honeyBlock"
"BiomesOPlenty:planks":0-14
"BiomesOPlenty:colorizedLeaves1":0-3
"BiomesOPlenty:colorizedLeaves2":0-3

#Matter overdrive
"mo:tritanium_block"
"mo:machine_hull"
"mo:fusion_reactor_coil"
"mo:force_glass"
"mo:decorative.stripes"
"mo:decorative.coils"
"mo:decorative.clean"
"mo:decorative.vent.dark"
"mo:decorative.vent.bright"
"mo:decorative.holo_matrix"
"mo:decorative.trinatium_plate"
"mo:decorative.carbon_fiber_plate"
"mo:decorative.matter_tube":0-1
"mo:decorative.beams":0-1
"mo:decorative.floor_tiles"
"mo:decorative.floor_tiles_green"
"mo:decorative.floor_noise"
"mo:decorative.tritanium_plate_stripe"
"mo:decorative.floor_tile_white"
"mo:decorative.white_plate"
"mo:decorative.separator":0-1
"mo:decorative.tritanium_lamp"
"mo:decorative.tritanium_plate_colored":0-15
"mo:decorative.engine_exhaust_plasma"

#Thaumic Horizons
"ThaumicHorizons:alchemite"
"ThaumicHorizons:chocolate"
"ThaumicHorizons:evanescent"
"ThaumicHorizons:voidTH"
"ThaumicHorizons:brainTH"
"ThaumicHorizons:dustTH"
"ThaumicHorizons:eyeTH"
"ThaumicHorizons:boneTH"
"ThaumicHorizons:fleshTH"
"ThaumicHorizons:crystalTH":0-15
"ThaumicHorizons:leviathanTH"

#Runic Dungeons
"runicdungeons:tile.survivalRunicBrick":0-5
"runicdungeons:tile.survivalDemonicBrick":0-1
"runicdungeons:tile.obsidianRunicBrick":0-5
"runicdungeons:tile.witherRunicBrick":0-5
"runicdungeons:tile.runicBrick"
"runicdungeons:tile.survivalRunicLamp"
"runicdungeons:tile.survivalRunicPillar"
"runicdungeons:tile.runicGlass"
"runicdungeons:tile.runicObsidianGlass"
"runicdungeons:tile.chaoticSand"
"runicdungeons:tile.compressedObsidian"
"runicdungeons:tile.runicSteelBlock"
"runicdungeons:tile.ancientBookshelf"

#IndustrialCraft
"IC2:blockRubWood"
"IC2:blockRubLeaves"
"IC2:blockAlloy"
"IC2:blockBasalt"
"IC2:blockAlloyGlass"
"IC2:blockReinforcedFoam"
"IC2:blockFoam"
"IC2:blockWall":0-15
"IC2:blockMetal":0-5

#Metallurgy
"Metallurgy:base.block":0-7
"Metallurgy:base.brick":0-7
"Metallurgy:ender.block":0-2
"Metallurgy:ender.brick":0-2
"Metallurgy:fantasy.block":0-15
"Metallurgy:fantasy.brick":0-15
"Metallurgy:nether.block":0-12
"Metallurgy:nether.brick":0-12
"Metallurgy:precious.block":0-4
"Metallurgy:precious.brick":0-4
"Metallurgy:utility.block":0-5
"Metallurgy:vanilla.brick":0-1
"Metallurgy:extra.storage.block"
"Metallurgy:explosive":0-4

#MineFactory reloaded
"MineFactoryReloaded:rubberwood.log":0-1
"MineFactoryReloaded:rubberwood.leaves":0-1
"MineFactoryReloaded:stainedglass.block":0-15
"MineFactoryReloaded:brick":0-15
"MineFactoryReloaded:stone":0-11
"MineFactoryReloaded:pinkslime.block"

#ReactorCraft
"ReactorCraft:reactorcraft_block_mats":0-3
"ReactorCraft:reactorcraft_block_fluorite":0-7
