#A comma separated blacklist of dimension ids which no tardis should be able to reach
#Default: 
Blacklisted Dimension IDs:S:-28, -29, -30, -1005, -1006, -1007, -1008, -1009, -1011, -1012, -1013, -1014, -1015, -1016, -1017, -1018, -1019, -1020, -1021, -1022, -1023, -1024, -1025, -1026, -1027

#A comma separated list of dimension names which no tardis should be able to reach
#Default: 
Blacklisted Dimension Names:S:

#A comma separated list of energy cost to reach dimension
#In the form dimID|cost
#Default: 1|5000,-1|3000
Energy costs:S:1|5000,-1|3000

#A comma separated list of maximum heights in the form dimID|height
#E.g. -1|127 which sets the max height of the nether (dim -1) to 127
#Default: -1|127
Maximum heights:S:-1|127

#A comma separated list of minimum levels required to reach dimension
#In the form dimID|level
#Default: 1|13,-1|5
Minimum levels:S:1|13,-1|5

